<script lang="ts" setup>
function enableDarkMode() {
  document.documentElement.classList.add('dark')
}
</script>

<template>
  <div>
    <button>
      light mode
    </button>
    <button @click="enableDarkMode">
      dark mode
    </button>
  </div>
</template>
