<template>
  <header class="bg-slate-50 dark:bg-slate-800 bg-opacity-85 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-112 lg:items-start lg:overflow-y-auto xl:w-120">
    <div class="hidden lg:sticky lg:top-0 lg:flex lg:w-16 lg:flex-none lg:items-center lg:whitespace-nowrap lg:py-12 lg:text-sm lg:leading-7 lg:[writing-mode:vertical-rl]">
      <span class="font-mono text-slate-500">Écrit par</span>
      <span class="mt-6 flex gap-6 font-bold text-slate-900 dark:text-slate-100">Mopi</span>
    </div>
    <div class="relative z-10 mx-auto px-4 pb-4 pt-10 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-slate-200 lg:px-8 lg:py-12 xl:px-12">
      <a
        class="relative mx-auto block w-48 overflow-hidden rounded-lg sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl"
        aria-label="Homepage"
        href="/"
      >
        <img
          alt=""
          decoding="async"
          data-nimg="1"
          class="w-full"
          src="/images/nest.svg"
        >
      </a>
      <div class="mt-0 text-center lg:text-left">
        <p class="text-xl font-bold text-slate-900">
          <a href="/">
            <span class="sr-only">Le Nid de Mopi</span>
            <img
              alt=""
              decoding="async"
              data-nimg="1"
              class="w-full"
              src="/images/nest-text.svg"
            >
          </a>
        </p>
        <p class="mt-1 text-lg font-medium leading-8 text-slate-700">
          Reviews de jeux vidéo
        </p>
      </div>
      <AppColorMode />
      <SearchBar />
      <section class="mt-12 hidden lg:block">
        <h2 class="flex items-center font-mono text-sm font-medium leading-7 text-slate-900 dark:text-slate-100">
          <svg
            aria-hidden="true"
            viewBox="0 0 10 10"
            class="h-2.5 w-2.5"
          >
            <path
              d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z"
              class="fill-violet-300"
            /><path
              d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z"
              class="fill-pink-300"
            />
          </svg>
          <span class="ml-2.5">À propos</span>
        </h2>
        <p class="mt-2 text-base leading-7 text-slate-700 dark:text-slate-300 lg:line-clamp-4">
          Reviews de mes jeux vidéo et de ceux qui méritent d'être mieux connus.
        </p>
      </section>
      <section class="mt-10 lg:mt-12">
        <h2 class="sr-only flex items-center font-mono text-sm font-medium leading-7 text-slate-900 dark:text-slate-100 lg:not-sr-only">
          <svg
            aria-hidden="true"
            viewBox="0 0 10 10"
            class="h-2.5 w-2.5"
          >
            <path
              d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z"
              class="fill-indigo-300"
            /><path
              d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z"
              class="fill-blue-300"
            />
          </svg>
          <span class="ml-2.5">Pages épinglées</span>
        </h2>
        <div
          class="h-px bg-gradient-to-r from-slate-200/0 via-slate-200 to-slate-200/0 lg:hidden"
        />
        <ul
          role="list"
          class="mt-4 flex justify-center gap-10 text-base font-medium leading-7 text-slate-700 sm:gap-8 lg:flex-col lg:gap-4"
        >
          <li class="flex">
            <a
              class="group flex items-center"
              aria-label="À propos"
              href="/"
            >
              <span>À propos</span>
            </a>
          </li>
          <li class="flex">
            <a
              class="group flex items-center"
              aria-label="Ma liste de jeux"
              href="/"
            >
              <span>Ma liste de jeux</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </header>
</template>
