<script setup lang="ts">
defineProps<{
  // posts: App.Models.Post[]
  query: App.Paginate<App.Models.Post>
}>()
</script>

<template>
  <main class="border-t border-slate-200 lg:relative lg:mb-28 lg:ml-112 lg:border-t-0 xl:ml-120">
    <div class="relative lg:max-w-xl lg:ml-5 xl:ml-24">
      <div class="pb-12 pt-6 sm:pb-4 lg:pt-8">
        <div class="lg:px-8 bg-white bg-opacity-90 rounded-md py-5">
          <div class="lg:max-w-4xl">
            <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <h1 class="text-2xl font-bold leading-7 text-slate-900">
                Articles récents
              </h1>
            </div>
          </div>
        </div>
        <!-- <div class="divide-y divide-slate-100 space-y-5 pt-6">
          <Post
            v-for="post in query.data"
            :key="post.id"
            :post="post"
          />
        </div> -->
        <Listing
          :query="query"
          :sortable="[
            { label: 'Title', value: 'title' },
            { label: 'Release date', value: 'release_date' },
            { label: 'Added at', value: 'added_at' },
            { label: 'Popularity', value: 'popularity' },
            { label: 'Runtime', value: 'runtime' },
          ]"
        >
          <Post
            v-for="post in query.data"
            :key="post.id"
            :post="post"
          />
        </Listing>
      </div>
    </div>
  </main>
</template>
