<script setup lang="ts">
defineProps<{
  // posts: App.Models.Post[]
  query: App.Paginate<App.Models.Post>
}>()
</script>

<template>
  <IHead title="Bienvenue sur le Nid de Mopi" />

  <div
    class="fixed inset-0 w-full bg-cover bg-fixed bg-center bg-no-repeat"
    style="background-image: url('/images/background.webp');"
  />

  <LayoutHeader />
  <LayoutMain :query="query" />
  <LayoutFooter />
</template>
