<script lang="ts" setup>
import { useSearch } from '@kiwilan/typescriptable-laravel'

const props = defineProps<{
  results: object
  search?: string
}>()

const { convertResults } = useSearch(false)
const items = ref<any[]>([])

items.value = convertResults(props.results)
</script>

<template>
  <App :title="`Search for '${search}'`">
    <section class="main-container py-10 video-list">
      <CardMovieTvShow
        v-for="item in items"
        :key="item.id"
        :model="item"
      />
    </section>
  </App>
</template>
