<script lang="ts" setup>
defineProps<{
  post: App.Models.Post
}>()
</script>

<template>
  <article
    aria-labelledby="episode-5-title"
    class="py-6 bg-white bg-opacity-90 rounded-md"
  >
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="flex flex-col items-start">
            <h2
              id="episode-5-title"
              class="mt-2 text-lg font-bold text-slate-900"
            >
              <a href="/5">
                {{ post.title }}
              </a>
            </h2>
            <time
              :datetime="post.published_at"
              class="order-first font-mono text-sm leading-7 text-slate-500"
            >
              {{ post.published_at }}
            </time>
            <p class="mt-1 text-base leading-7 text-slate-700">
              {{ post.preview }}
            </p>
            <div class="mt-4 flex items-center gap-4">
              <button
                type="button"
                aria-label="Play episode 5: Bill Lumbergh"
                class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900"
              >
                <span aria-hidden="true">
                  Lire l'article
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>
